SECRET_KEY=

HUGGING_FACE_API_KEY=
GROQ_API_KEY=
COHERE_API_KEY=

DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=

# e.g https://blablabla.supabase.co
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
BUCKET_NAME=

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_BACKEND_URL=redis://localhost:6379/0

PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
NAMESPACE=