SECRET_KEY=

HUGGING_FACE_API_KEY=
GROQ_API_KEY=
COHERE_API_KEY=

DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

DATABASE_URL=postgresql://db-user:db-password@db-host:5432/db-name

# e.g https://blablabla.supabase.co
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
BUCKET_NAME=

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_BACKEND_URL=redis://localhost:6379/0

LANCEDB_URI=./lancedb_data
LANCEDB_TABLE=documents

LLM_MODEL=llama-3.3-70b-versatile
LLM_TEMPERATURE=0.0
MAX_FILE_SIZE_MB=5